/* Ways to show div side by side */
/* by  using display inline property */

/* div {
  width: 30%;
  display: inline-block;
} */

/* Same can be achieved by: */

/* .mycotainer {
  width: 100%;
  overflow: auto;
}
div {
  width: 30%;
  float: left;
} */

/* CSS Flexbox */

/* .mycontainer {
  display: flex;
}
.mycontainer > div {
  width: 33%;
} */

/* CSS Grid Example */

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
